{namespace h=Tx_Hype_ViewHelpers}

<div class="contact contact_person vcard">
	<hgroup>
		<h1 class="n">
			<f:if condition="{contact.formOfAddress}">{f:translate(key: 'form_of_address.{contact.formOfAddress}')}</f:if>
			<f:if condition="{contact.academicTitle}"><span class="honorific-prefix">{contact.academicTitle}</span></f:if>
			<f:if condition="{contact.firstName}"><span class="given-name">{contact.firstName}</span></f:if>
			<f:if condition="{contact.middleName}"><span class="additional-name">{contact.middleName}</span></f:if>
			<f:if condition="{contact.lastName}"><span class="family-name">{contact.lastName}</span></f:if>
			<f:if condition="{contact.nickname}">&ndash; &quot;<span class="nickname">{contact.nickname}</span>&quot;</f:if>
		</h1>

		<f:if condition="{role}">
			<h2 class="title">
				{role.title}
				<f:if condition="{role.additionalTitle}"><br />{role.additionalTitle}</f:if>
			</h2>
		</f:if>
	</hgroup>

	<f:if condition="{contact.images.0}">
		<p class="images"><f:image src="{settings.object.contact.property.images.path}{contact.images.0}" class="photo" width="{settings.view.contact.action.index.property.images.width}" height="{settings.view.contact.action.index.property.images.height}" maxWidth="{settings.view.contact.action.index.property.images.maxWidth}" maxHeight="{settings.view.contact.action.index.property.images.maxHeight}" alt="{contact.name}" /></p>
	</f:if>

	<p class="adr">
		<f:if condition="{contact.street}">
			<span class="street-address">{contact.street}</span><f:if condition="{contact.door}">/{contact.door}</f:if><f:if condition="{contact.stair}">, {f:translate(key: 'stair')} {contact.stair}</f:if><f:if condition="{contact.floor}">, {f:translate(key: 'floor')} {contact.floor}</f:if><br />
		</f:if>

		<f:if condition="{contact.postalCode}"><span class="postal-code">{contact.postalCode}</span></f:if>
		<f:if condition="{contact.city}">
			<span class="locality">{contact.city}</span><f:if condition="{contact.country}">, <span class="country-name">{contact.country.shortEnglishName}</span></f:if><f:if condition="{contact.state}"> ({contact.state.localName})</f:if>
		</f:if>
	</p>

	<f:if condition="{contact.latitude}">
	<f:if condition="{contact.longitude}">
		<iframe class="map" scrolling="no" frameborder="0" src="http://maps.google.com/maps?q={contact.latitude},{contact.longitude}&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
	</f:if>
	</f:if>

	<dl class="data">
		<f:if condition="{contact.telephoneNumber}">
			<dt class="telephone">{f:translate(key: 'phone_number')}</dt>
			<dd class="telephone tel">{h:format.telephoneNumber(telephoneNumber: 'TYPO3', countryCode: '{contact.telephoneCountry.countryCode}', areaCode: '{contact.telephoneAreaCode}', directDialNumber: '{contact.telephoneExtension}', segmentLength: 2, convertPhonewords: 1)}</dd>
		</f:if>

		<f:if condition="{contact.faxNumber}">
			<dt class="fax_number">{f:translate(key: 'fax_number')}</dt>
			<dd class="fax_number">{h:format.telephoneNumber(telephoneNumber: '{contact.faxNumber}', countryCode: '{contact.faxCountry.countryCode}', areaCode: '{contact.faxAreaCode}', directDialNumber: '{contact.faxExtension}', segmentLength: 2)}</dd>
		</f:if>

		<f:if condition="{contact.cellphoneNumber}">
			<dt class="cellphone_number">{f:translate(key: 'cellphone_number')}</dt>
			<dd class="cellphone_number">{h:format.telephoneNumber(telephoneNumber: '{contact.cellphoneNumber}', countryCode: '{contact.cellphoneCountry.countryCode}', areaCode: '{contact.cellphoneAreaCode}', segmentLength: 4)}</dd>
		</f:if>

		<f:if condition="{contact.email}">
			<dt class="email">{f:translate(key: 'email')}</dt>
			<dd class="email"><f:link.email email="{contact.email}" class="email" title="{contact.email}">{contact.email}</f:link.email></dd>
		</f:if>

		<f:if condition="{contact.website}">
			<dt class="website">{f:translate(key: 'website')}</dt>
			<dd class="website url"><f:link.external uri="{contact.website}">{contact.website}</f:link.external></dd>
		</f:if>
	</dl>

	<dl class="details">
		<f:if condition="{contact.gender}">
			<dt class="gender">{f:translate(key: 'gender')}</dt>
			<dd class="gender gender-{contact.gender}">{f:translate(key: 'gender.{contact.gender}')}</dd>
		</f:if>

		<f:if condition="{contact.dateOfBirth}">
			<dt class="date_of_birth">{f:translate(key: 'date_of_birth')}</dt>
			<dd class="date_of_birth">{f:format.date(date: '{contact.dateOfBirth}', format: '{settings.view.contact.action.index.property.date_of_birth.format}')}</dd>
		</f:if>

		<f:if condition="{contact.maritalStatus}">
			<dt class="marital_status">{f:translate(key: 'marital_status')}</dt>
			<dd class="marital_status marital_status-{contact.maritalStatus}">{f:translate(key: 'marital_status.{contact.maritalStatus}')}</dd>
		</f:if>

		<f:if condition="{contact.nationality}">
			<dt class="nationality">{f:translate(key: 'nationality')}</dt>
			<dd class="nationality nationality-{contact.nationality.isoCode2}">{contact.nationality.shortEnglishName}</dd>
		</f:if>

		<f:if condition="{contact.motherTongue}">
			<dt class="mother_tongue">{f:translate(key: 'mother_tongue')}</dt>
			<dd class="mother_tongue mother_tongue-{contact.motherTongue.isoCode2}">{contact.motherTongue.englishName}</dd>
		</f:if>
	</dl>

	<p class="relations">
		<f:if condition="{contact.relatedPage}"><f:link.page pageUid="{contact.relatedPage}">{f:translate(key: 'more_information_about', arguments: {0: contact.completeName})}</f:link.page><br /></f:if>
		<f:if condition="{contact.relatedAddress}"><f:link.external uri="{contact.relatedAddress}">{f:translate(key: 'further_information_about', arguments: {0: contact.completeName})}</f:link.external><br /></f:if>
	</p>

	<f:if condition="{contact.remark}">
		<p class="remark">
			{contact.remark->f:format.nl2br()}
		</p>
	</f:if>
</div>