{namespace h=Tx_Hype_ViewHelpers}

<f:section name="content">
	<f:if condition="{register}">
		<f:then>
			<div class="register">

				<!-- register.name -->
				<f:if condition="{register.roles}">
					<f:if condition="{register.contacts}">
						<h2>{f:translate(key: 'responsibilities')}</h2>
					</f:if>

					<div class="roles">
						<f:for each="{register.roles}" as="role">
							<f:if condition="{f:count(subject: role.contacts)} > 0">
								<dl class="role">
									<dt>{role.title}</dt>

									<f:for each="{role.contacts}" as="contact">
										<dd>
											<f:if condition="{contact.images.0}">
												<p class="images"><f:image src="{settings.object.contact.property.images.path}{contact.images.0}" class="photo" width="{settings.view.contact.action.index.property.images.width}" height="{settings.view.contact.action.index.property.images.height}" maxWidth="{settings.view.contact.action.index.property.images.maxWidth}" maxHeight="{settings.view.contact.action.index.property.images.maxHeight}" alt="{contact.name}" /></p>
											</f:if>

											<f:if condition="{settings.view.contact.pid}">
												<f:then>
													<f:link.action pageUid="{settings.view.contact.pid}" extensionName="HypeDirectory" pluginName="Contact" controller="Contact" arguments="{contact: contact, role: role}">{contact.completeName}</f:link.action>
												</f:then>

												<f:else>
													{contact.completeName}
												</f:else>
											</f:if>
										</dd>
									</f:for>
								</dl>
							</f:if>
						</f:for>
					</div>
				</f:if>

				<f:if condition="{register.contacts}">
					<div class="contacts">
						<h3>{f:translate(key: 'members')}</h3>

						<ul>
							<f:for each="{register.contacts}" as="contact">
								<li>
									<f:if condition="{settings.view.contact.pid}">
										<f:then>
											<f:link.action pageUid="{settings.view.contact.pid}" extensionName="HypeDirectory" pluginName="Contact" controller="Contact" arguments="{contact: contact}">{contact.completeName}</f:link.action>
										</f:then>

										<f:else>{contact.completeName}</f:else>
									</f:if>
								</li>
							</f:for>
						</ul>
					</div>
				</f:if>
			</div>
		</f:then>

		<f:else>
			<p>{f:translate(key: 'no_contacts_found')}</p>
		</f:else>
	</f:if>
</f:section>